<%- include('../layouts/partials/messages.ejs') %>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-10 mx-auto">
      <div class="card card-body shadow">
        <h2 class="text-center mb-3"><i class="bi bi-box-arrow-in-right"></i>Staff Master</h2>
        <form class="needs-validation" method="POST" novalidate id="demo">
          <div class="row g-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" id="id" name="id" hidden>
                <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name"
                  value="<%= typeof rows?.first_name != 'undefined' ? rows?.first_name : '' %>" required>
                <label for="first_name">First Name</label>
                <div class="invalid-feedback">
                  please enter your first name
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name"
                  value="<%= typeof rows?.last_name != 'undefined' ? rows?.last_name : '' %>" required>
                <label for="last_name">Last Name</label>
                <div class="invalid-feedback">
                  please enter your last name
                </div>
              </div>
            </div>

          </div>
          <div class="row g-2 mt-2">
            <div class="col-md-4">
              <div class="form-floating">
                <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" required
                  value="<%= typeof rows?.date_of_birth != 'undefined' ? rows?.date_of_birth : '' %>"
                  max="<%= new Date().toISOString().substr(0, 10) %>" placeholder="Date Of Birth">
                <label for="date_of_birth">Date Of Birth</label>
                <div class="invalid-feedback">
                  please select date of birth
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="date" class="form-control" id="hire_date" name="hire_date" placeholder="Date Of Hire"
                  value="<%= typeof rows?.hire_date != 'undefined' ? rows?.hire_date : '' %>"
                  max="<%= new Date().toISOString().substr(0, 10) %>" required>
                <label for="hire_date">Date Of Hire</label>
                <div class="invalid-feedback">
                  please select date of hire
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="number" class="form-control" id="phone_number" name="phone_number"
                  placeholder="phone number" pattern="[0-9]{10}"
                  value="<%= typeof rows?.phone_number != 'undefined' ? rows?.phone_number : '' %>" required
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxLength="10" />

                <label for="phone_number">Phone Number</label>
                <div class="invalid-feedback">
                  please enter your phone number
                </div>
              </div>
            </div>
          </div>
          <div class="row g-2 mt-2">

            <div class="col-md-6">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Address" name="address" id="address"
                  style="min-height: 127px;"
                  required><%= typeof rows?.address != 'undefined' ? rows?.address : '' %></textarea>
                <label for="address">Address</label>
                <div class="invalid-feedback">
                  please enter your address
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" name="position" id="position" placeholder="Position"
                  value="<%= typeof rows?.position != 'undefined' ? rows?.position : '' %>" required>
                <label for="position">Position</label>
                <div class="invalid-feedback">
                  please enter your position
                </div>
              </div>
              <div class="form-floating mt-2">
                <input type="text" class="form-control" name="city" id="city" placeholder="City"
                  value="<%= typeof rows?.city != 'undefined' ? rows?.city : '' %>" required>
                <label for="city">City</label>
                <div class="invalid-feedback">
                  please enter your city
                </div>
              </div>
            </div>
          </div>
          <div class="row g-2   mt-2">

            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" name="state" id="state"
                  value="<%= typeof rows?.state != 'undefined' ? rows?.state : '' %>" placeholder="State" required>
                <label for="state">State</label>
                <div class="invalid-feedback">
                  please enter your state
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="zip_code" name="zip_code"
                  value="<%= typeof rows?.zip_code != 'undefined' ? rows?.zip_code : '' %>" placeholder="Zip Code"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxLength="6" required>
                <label for="zip_code">Zip Code </label>
                <div class="invalid-feedback">
                  please enter your zip code
                </div>
              </div>
            </div>
          </div>




          <div class="form-check mt-2">
            <label class="form-check-label" for="is_Active">
              Active ?
            </label>
            <input class="form-check-input" type="checkbox" value="1" id="is_Active" name="is_Active" <%=rows.isActive
              ? "checked" : "" %>>
            <div class="invalid-feedback">Please select Check box</div>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-block bg-primary">Save</button>
            <button type="reset" class="btn btn-block bg-warning">Clear</button>
            <a href="javascript:history.back()" type="submit" class="btn btn-secondary">Back</a>

          </div>
        </form>
      </div>
    </div>
  </div>